* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#6379b1, #7e8596)
}

h1, h2, h3{
    text-align: center;
    color: white;
}

/* Header */
header {
    background: #173a68;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Nav */
nav {
    background: #222;
}

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        list-style: none;
        padding: 1rem;
        gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Galería de imágenes */
.galeria {
    padding: 2rem;
    text-align: center;
    background: black;
    color: white;
    }
    
.contenedor {         
    font-size: 1.8rem;
    margin-bottom: 1rem;
}


.contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.contenedor-imagenes img {
    width: 100%;
    max-width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
hr {
    margin: 40px;
}
/* Nuestros servicios */
.nuestros-servicios {
    padding: 2rem;
    text-align: center;
    background: black;
    color: white;
    }

    .contenedor-servicios {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 50px;           
    font-size: 22px;
}
    
/* Sección de información */
.info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1.5rem;
}

.animacion {
    background: #4060b2;
    padding: 1.5rem;
    width: 90%;
    max-width: 250px;
    border-radius: 8px;
    animation: mover 3s infinite;
}
 @keyframes mover {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(20px);
        }
      }

/* Sección de historia */
.historia {
    background: #2f4376;
    padding: 1rem;
    border-radius: 4px;
}

.historia article {
    display: flex;
    justify-content: center;  
    align-items: center;    
    height: 40px;           
    font-size: 20px;
}

/* Footer */
footer {
    background: #111;
    color: rgb(103, 99, 183);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
/*Tablet 600px */
@media (min-width: 600px){
    nav ul {
        flex-direction: row; 
    }

    .contenedor-imagenes img {
        max-width: 200px;
        height: 130px;
    }

    .contenedor-servicios {
        height: 60px;
        font-size: 26px;
    }

    .info {
        flex-direction: row;  
        justify-content: center;
    }

    .animacion {
        width: 200px;
    }

    .historia article {
        max-width: 600px;
        margin: auto;
    }
}

/* Monitor 992px */

@media (min-width: 992px) {

    .galeria {
        padding: 4rem;
    }

    .contenedor-imagenes img {
        max-width: 240px;
        height: 160px;
    }

    .contenedor-servicios {
        height: 80px;
        font-size: 32px;
    }

    .info {
        gap: 3rem;
    }

    .animacion {
        width: 260px;
        padding: 2rem;
    }

    .historia {
        display: flex;
        justify-content: center;
    }

    .historia article {
        width: 50%;
        font-size: 1.2rem;
    }

}